body{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    border: 1px solid aliceblue;
    border-radius: 25%;
	background: linear-gradient(-90deg, rgb(247, 246, 246), rgb(131, 131, 131), rgb(90, 89, 89), rgb(39, 38, 38));
	background-size: 400% 400%;
	
	animation: Gradient 2.5s linear infinite;}

.big{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
    border: 1px solid rgb(54, 54, 54);;
    border-radius: 25%;
    width: 77vw;
    height: 76vh;
}

p {
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #cebfbf,
                 0 3px 0 rgb(173, 170, 170),
                 0 4px 0 #a09f9f,
                 0 5px 0 rgb(141, 141, 141),
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    color: rgb(228, 218, 218);
    font-size: 4em;
    animation: textc 3s linear infinite;}
  

@keyframes Gradient {
	0% {
		background-position: 0% 80%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes textc {
	0% {
		color: rgb(228, 218, 218);
	}
	40% {
        color: rgb(202, 199, 199);
    }
	60% {
        color: rgb(155, 154, 154);		
    }
    80% {
		color: rgb(207, 173, 131);
    }
    100% {
		color: rgb(228, 218, 218);
	}
}

/* loadingbar */
.load-bar {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 6px;
    background-color: rgb(54, 54, 54);;
  }
  .bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
  }
  .bar:nth-child(1) {
    background-color: #a7a6a6;
    animation: loading 5s linear infinite;
  }
  .bar:nth-child(2) {
    background-color:#636363;
    animation: loading 5s linear 1s infinite;
  }
  .bar:nth-child(3) {
    background-color: rgb(54, 54, 54);
    animation: loading 5s linear 2s infinite;
  }
  @keyframes loading {
      from {left: 50%; width: 0;z-index:100;}
      33.3333% {left: 0; width: 100%;z-index: 10;}
      to {left: 0; width: 100%;}
  }
  